In [1]:
#Import Modules
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress


# import yahoo_fin.stock_info as si
# from pprint import pprint

In [2]:
# Read csv files 
pharma_df = pd.read_csv('Clean_Datafiles/master_data.csv')

pharma_df.head()
# I think you need to clean  up the data more

,Date,Date.1,ABBV Open,ABBV High,ABBV Low,ABBV Close,ABBV Adj Close,ABBV Volume,ABBV Change,ALKS Open,...,PFE Adj Close,PFE Volume,PFE Change,SNY Open,SNY High,SNY Low,SNY Close,SNY Adj Close,SNY Volume,SNY Change
0,0,2022-08-09,140.679993,142.240005,139.880005,140.250000,134.782043,3819700,-0.429993,25.809999,...,47.851295,12095600,0.029999,48.790001,48.950001,48.599998,48.660000,46.896526,2725800,-0.130001
1,1,2022-08-10,140.910004,141.059998,139.000000,140.940002,135.445129,4075300,0.029998,25.750000,...,48.014702,17355100,0.020001,46.860001,46.930000,43.200001,45.200001,43.561920,9931900,-1.660000
2,2,2022-08-11,140.229996,142.869995,139.660004,142.080002,136.540680,5972800,1.850006,25.629999,...,46.419022,44048800,0.070000,42.020000,44.270000,41.980000,43.419998,41.846428,21753500,1.399998
3,3,2022-08-12,141.889999,143.089996,140.270004,142.600006,137.040405,5208700,0.710007,25.469999,...,48.168507,25835500,1.560002,43.970001,44.590000,43.730000,44.369999,42.762001,4732300,0.399998
4,4,2022-08-15,143.110001,143.279999,140.419998,142.289993,136.742508,4513200,-0.820008,25.959999,...,47.822449,15797800,-0.220001,43.720001,44.099998,43.130001,43.830002,42.241573,3066400,0.110001

In [ ]:
# daily_df for all ? 
# close_df for all ? 
# How price growth over the year ? or we need a data for 5 years , as an example???

#then we can sort the  data by year

1. # Compare sorteed data using plot.bar
2. # line plot of close prices over the time